@model Proyecto_Order2Go.Models.FileUpload;
@{
    ViewData["Title"] = "Agregar Producto";

}

<h1 class="text-center">Agregar Producto</h1>
<div class="row justify-content-center align-items-center">
    <div class="col-md-4">
        <form asp-action="AgregarProductos" enctype="multipart/form-data" asp-controller="Operador" id="frm_AgregarProductos" class="border border-light bg-light rounded-lg p-4">
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" id="nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" id="cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" id="descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" id="precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdComercio" class="control-label"></label>
                <input asp-for="IdComercio" id="idComercio" value="@ViewBag.IdComercio" class="form-control" readonly/>
                <span asp-validation-for="IdComercio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foto" class="control-label"></label>
                <input asp-for="Foto" type="file" id="fotoProducto" class="form-control-file"/>
                <span asp-validation-for="Foto" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input type="submit" id="btnSaved" value="Agregar Producto" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
