@model Proyecto_Order2Go.Models.Usuario
@{
    ViewData["Title"] = "Agregar Operador";
}
<h1 class="text-center">Agregar Operador</h1>
<div class="row justify-content-center align-items-center">
    <div class="col-md-4">
        <form id="frm_agregarOperador" asp-action="AgregarOperadores" class="border border-light bg-light rounded-lg p-4" asp-controller="Administrador">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellidos" class="control-label"></label>
                <input asp-for="Apellidos" class="form-control" />
                <span asp-validation-for="Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contraseña" class="control-label"></label>
                <input asp-for="Contraseña" type="password" class="form-control" />
                <span asp-validation-for="Contraseña" class="text-danger"></span>
            </div>
            @foreach (Roles roles in ViewBag.Roles)
            {
                <input asp-for="IdRole" type="hidden" value="@roles.IdRole" placeholder="@roles.Role" class="form-control" readonly />
            }
            <div class="form-group text-center">
                <input type="submit" value="Agregar Operador" class="btn btn-primary bg-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
