@model Proyecto_Order2Go.Models.Producto
@{
    ViewData["Title"] = "Seleccionar Producto";
}
<h2 class="text-center">Seleccionar Productos</h2>
<div class="row">
    @foreach ( Producto producto in ViewBag.Producto)
    {
        <div class="card m-3 text-center" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@producto.NombreProducto</h5>
                <p class="card-text">@producto.Descripcion</p>
                <div class="row justify-content-center align-items-center">
                    <p class="font-weight-bold m-2">Cantidad:</p><p class="m-2">@producto.Cantidad</p>
                </div>
                <div class="row justify-content-center align-items-center">
                    <p class="font-weight-bold m-2">Precio:</p><p class="m-2">@producto.Precio</p>
                </div>
                <div class="row justify-content-center">
                    <a asp-controller="Usuario" asp-action="Index" class="btn btn-primary m-2">Regresar</a>
                    <a asp-controller="Usuario" asp-action="#" class="btn btn-primary m-2">Comprar</a>
                </div>
            </div>
        </div>
    }
</div>